/**@font-face {
  font-family: "Rileno Sans";
  src: url("/fonts/RilenoSans-Bold.ttf");

}

@font-face {
  font-family: "Rileno Sans";
  src: url("/fonts/RilenoSans-Medium.ttf");
}

@font-face {
  font-family: "Rileno Sans";
  src: url("/fonts/RilenoSans-Regular.ttf");

}

@font-face {
  font-family: "Rileno Sans";
  src: url("/fonts/RilenoSans-SemiBold.ttf");

}**/


@font-face {
  font-family: 'Rileno Sans';
  src: url(./font-rileno/RilenoSans-Bold.woff);
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Rileno Sans';
  src: url(./font-rileno/RilenoSans-ExtraBold.woff);
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Rileno Sans';
  src: url(/font-rileno/RilenoSans-ExtraBold.woff);
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Rileno Sans';
  src: url(/font-rileno/RilenoSans-Medium.woff);
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Rileno Sans';
  src: url(/font-rileno/RilenoSans-Regular.woff);
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Rileno Sans';
  src: url(/font-rileno/RilenoSans-SemiBold.woff);
  font-weight: normal;
  font-style: normal;

}



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/***dropdown navbar ends***/
 
.navbar{
    height: 83px;
    width: 100%;
    padding: 19px 30px;
    background-color: #000000;
    position: relative;
    z-index: 999;
  }
  .nav-links{
    margin-right: 200px;
  }
  
  .navbar .nav-header{
    display: inline;
  }
  .navbar .nav-header .nav-logo{
    display: inline-block;
    margin-left: 250px;
  
  }
  .navbar .nav-links{
    display: inline;
    float: right;
    font-size: 18px;
  }

   .google-frame{
    margin-top: 100px;
    display: flex;
    justify-content: center;
   }




  .navbar .nav-links .loginBtn{
    display: inline-block;
    padding: 13px 20px;
    margin-left: 20px;
    font-size: 17px;
    color: rgb(255, 255, 255);
  }
  .navbar .nav-links a {
    padding: 10px 12px;
    text-decoration: none;
    font-weight: 550;
    color: white;
  }
  /* Hover effects */
  
  .nav-links button{
    background-color: #03b2e2;
    color: white;
    border: 0px;
    border-radius: 50px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
  }
   
  .nav-links button:hover{
    background-color: #35cdf7;
  }
  
  /* responsive navbar toggle button */
  .navbar #nav-check, .navbar .nav-btn{
    display: none;
  }
   
  @media (max-width:700px) {
    .navbar .nav-btn{
      display: inline-block;
      position: absolute;
      top: 0px;
      right: 0px;
    }
    .navbar .nav-btn label {
      display: inline-block;
      width: 80px;
      height: 70px;
      padding: 25px;
    }
    .navbar .nav-btn label span {
      display: block;
      height: 10px;
      width: 25px;
      border-top: 3px solid #fff;
    }
    .nav-links{
      margin-right: 0px;
    }
    .navbar .nav-btn label:hover, .navbar #nav-check:checked ~ .nav-btn label {
      background-color: rgb(0, 0, 0);
      transition: all 0.5s ease;
    }
    .navbar .nav-links{
      position: absolute;
      display: block;
      text-align: center;
      width: 50%;
      background-color: rgb(0, 0, 0);
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 70px;
      right: 0px;
    }
    .navbar .nav-links a {
      display: block;
    }
    .navbar .nav-header .nav-logo{
      display: inline-block;
      margin-left: 0px;
    
    }
   
   
  
    /* when nav toggle button not checked */
    .navbar #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
   
    /* when nav toggle button is checked */
    .navbar #nav-check:checked ~ .nav-links {
      height: calc(100vh - 70px);
      overflow-y: auto;
    }
    .navbar .nav-links .loginBtn {
      padding: 7px 25px ;
      margin: 20px 10px;
      font-size:  18px;
      font-weight: bold;
      color: rgb(255, 255, 255);
    }
    /* Responsive dropdown code */
    .navbar .nav-links .dropdown, .navbar .nav-links .dropdown2 {
      float: none;
      width: 100%;
    }
    .navbar .nav-links .drop-content, .navbar .nav-links .drop-content2 {
      position: relative;
      background-color: rgb(255, 255, 255);
      top: 0px;
      left: 0px;
    }
    /* Text color */
    .navbar .nav-links .drop-content a {
      color: rgb(0, 0, 0);
    }  
   
  }
   
  /* Dropdown menu CSS code */
  .dropdown{
    position: relative;
    display: inline-block;
  }
  .drop-content, .drop-content2 {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 105px;
    font-size: 16px;
    margin-left: 15px;
    top: 30px;
    z-index: 1;
  }
  /* on hover show dropdown */
  .dropdown:hover .drop-content, .dropdown2:hover .drop-content2 {
    display: block;
  }
  /* drondown links */
  .drop-content a {
    padding: 12px 10px;
    display: block;
    transition: all 0.5s ease !important;
  }
  
  .dropdown2 .drop-content2 {
    position: absolute;
    left: 120px;
    top: 126px;
  }
  .dropBtn2 i {
    margin-left: 15px;
  }
   
  
  
  /**nav end**/
  
  
  .revendeur-text {
    margin-top: 200px;
    text-align: center;
  }
  
  .revendeur-text h3 {
    letter-spacing: 15px;
    font-weight: 500;
    font-size: 23px;
  }
  
  .revendeur-text h1 {
    font-weight: 800;
    font-size: 38px;
    padding: 0;
    letter-spacing: 5px;
  }

  
@import 'animate.css';
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 99999;
}

.loader {
  border: 12px solid #000000;
  border-top: 12px solid #27bce6;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -60px;
  margin-left: -60px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
